<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            color: white;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

        #wrapper {
        display: flex;
        }

        #left {
        flex: 0 0 65%;
        }

        #right {
        flex: 1;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want-to-Go List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    
    <h2 style="color:white">&ensp; Want To Go:</h2>
    <br>
    <ul> 
        
        <% if (list.length == 0){ %>
            <h3 style = "color: red; text-align: center;">  Want To Go List is Empty</h3>
        <% } %>
      
        <% for(var i=0; i <  list.length; i++) { %>
            <% if( list[i]=="annapurna"){ %>
                
                <a href="/annapurna" style="size: 15px;">Annapurna</a>
                <a href ="/annapurna"><img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/annapurna.png">
                </a>
                <% } %>
            <%  if( list[i]=="bali"){ %>
                
                <a href="/bali" style="size: 15px;">Bali</a>
                <a href = "/bali"><img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/bali.png">
                </a>
                    <% } %>  
              
            <%  if( list[i]=="inca"){ %>
                
                <a href="/inca"style="size: 15px;">Inca</a>
                <a href = "/inca"><img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/inca.png">
                </a>                
                <% } %>
            <%  if( list[i]=="paris"){ %>
                <a href="/paris"style="size: 15px;">Paris</a> 
                <a href = "/paris"><img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/paris.png">
                </a>
               <% } %>
            <%  if( list[i]=="rome"){ %>
                <a href="/rome"style="size: 15px;">Rome</a>
                <a href = "/rome"><img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/rome.png">
                </a>               
                 <% } %>
            <%  if( list[i]=="santorini"){ %>
                <a href="/santorini"style="size: 15px;">Santorini</a>
                <a href = "/santorini"><img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/santorini.png">
                </a>
               <% } %> 
         <% } %>

        <!--
        <% for(var i=0; i <  list.length; i++) { %>
            <% if( list[i]=="annapurna"){ %>
                <a href="/annapurna">  
                    <img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/annapurna.png">  </a>
                    <% } %>
            <%  if( list[i]=="bali"){ %>
                <a href="/bali">  
                    <img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/bali.png">  </a>
              <% } %>  
              
            <%  if( list[i]=="inca"){ %>
                <a href="/inca">  
                    <img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/inca.png">  </a>
              <% } %>
            <%  if( list[i]=="paris"){ %>
                <a href="/paris">  
                    <img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/paris.png">  </a>
              <% } %>
            <%  if( list[i]=="rome"){ %>
                <a href="/rome">  
                    <img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/rome.png">  </a>
              <% } %>
            <%  if( list[i]=="santorini"){ %>
                <a href="/santorini">  
                    <img style = "margin:40px 40px 40px 40px ;border:2px white solid; width: 150px; height: 200px "src="/santorini.png">  </a>
              <% } %> 
         <% } %>
                -->
        
                   </ul>
        

</body>
</html>